.header-button-qr-code {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0 10px 0;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
}
.qr-button {
    width: 50%;
}
.qr-button .check-qr-pay {
    font-size: 14px;
    padding: 10px 30px;
}
.qr-button .print-qr-code {
    font-size: 14px;
    padding: 10px 30px;
}
.body-popup-qr-content {
        /*border-bottom: 1px solid #dcdcdc;*/
    padding: 10px 0 10px 0;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-data-content {
    width: 50%;
}
.qr-data-content .qr-code-content-payment-waiting {
    display: flex;
    justify-content: center;
}
.qr-data-content .qr-data-order-info {
    display: block;
    text-align: left;
    padding: 0 10px 0 20px;
}
.qr-data-value {
    color: blue;
    font-size: 80%;
}
